---
layout: default
---

<div class="home">
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post parag">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h3 post-title">{{ post.title  }}</h3></a>
        <p class="parag">{{ post.date | date: "%b %-d, %Y" }} | Author: <a href="/about">{{site.author.name}}</a> </p>
        <p class="parag">
          
            {{ post.excerpt }}
            <p>  <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">Read more...></a></p>
        </p>
      </div>
    {% endfor %}
  </div>
  {% include pagination.html %}
</div>
